{% extends "encyclopedia/layout.html" %}

{% block title %}
edit Page
{% endblock %}

{% block body %}
<div class="container">
    <h1>Edit Page</h1>
    <form method="POST" action="{% url 'encyclopedia:edit' title=title %}">

        {% csrf_token %}
        <br>
        <p><label>Title:</label></p>
        {{form.title|linebreaks}}
        <p><label>Description:</label></p>
        {{form.content}}

        <br><br>
        <button type="submit">Save </button>
    </form>
</div>
{% endblock %}